.comment-form {
  margin: 20px;
}

.comment-form textarea {
  width: 780px;
  height: 175px;
  padding: 10px 20px;
  margin: 20px 0;
  background: #72d0f4;
  border: 1px solid #00bff0;
  outline: none;
  color: #fff;
  font-size: 1em;
}

.comment-form button {
  display: block;
  width: 200px;
  height: 60px;
  background: #ff0000;
  color: #fff;
  font-size: 1.1em;
  border: none;
  outline: none;
}
