.container-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1171px;
  margin: 40px auto;
}

.content {
  flex: 3;
  background: #fff;
  padding: 20px;
}

.sidebar {
  flex: 1;
  background: #00bff0;
  margin-left: 20px;
}

.form {
  position: relative;
}

.form h3 {
  margin: 0;
  color: #00bff0;
  font-size: 1.3em;
}

.form input {
  width: 410px;
  height: 30px;
  padding: 5px 20px;
  margin-top: 20px;
  background: #72d0f4;
  color: #fff;
  border: 1px solid #00bff0;
  outline: none;

}

.form textarea {
  width: 410px;
  height: 175px;
  padding: 10px 20px;
  margin: 20px 0;
  background: #72d0f4;
  border: 1px solid #00bff0;
  outline: none;
  color: #fff;
  font-size: 1em;

}

.form button {
  display: block;
  width: 200px;
  height: 60px;
  background: #ff0000;
  color: #fff;
  font-size: 1.1em;
  border: none;
  outline: none;
}


.form label {
  padding: 0 20px;
  color: #00bff0;
  font-size: 1.1em;
  cursor: pointer;
}

.label-textarea {
  position: absolute;
  top: 180px;
  left: 460px;
}


.sidebar button {
  width: 180px;
  height: 50px;
  background: #00bff0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  margin: 20px auto;
  display: block;
}
