<div class="container-box">
  <div class="content">
    <div class="form">
      <h3>Add user</h3>
      <form (ngSubmit)="onSubmit(); userForm.reset()" #userForm="ngForm">
        <input type="text" name="name" id="name" [(ngModel)]="user.name">
        <label for="name">Name</label>
        <input type="text" name="e-mail" id="email" [(ngModel)]="user.email">
        <label for="email">E-mail</label>
        <textarea name="about" id="about" [(ngModel)]="user.about"></textarea>
        <label for="about" class="label-textarea">About user</label>
        <button type="submit">Save</button>
      </form>
    </div>
  </div>
  <div class="sidebar">
    <button type="button" (click)="gotoUsers()">Users</button>
  </div>
</div>
