/*nav {
  display: flex;
  align-items: center;
  background: gray;
  height: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  color: white;
}

nav h1 {
  font-weight: 400;
  margin: 0 10px 0;
}

nav a {
  margin-top: 3px;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: white;
}

nav a:hover, a.active {
  color: #333;

}

main {
  width: 600px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}*/


