.post > h3 {
  margin: 20px;
  color: #72d0f4;
  font-size: 1.4em;
}

.post-header {
  margin: 20px;
}

.post-header > span {
  display: inline-block;
  width: 18%;
  height: 27px;
  padding-left: 15px;
  position: relative;
  top: -10px;
  color: #72d0f4;
  line-height: 27px;
  font-size: 0.8em;
  font-style: oblique;
}

.post-text > p {
  margin: 30px 20px;
  line-height: 25px;
}
