.container-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1171px;
  margin: 40px auto;
}

.content {
  flex: 3;
  background: #fff;
  padding: 20px;
}

.sidebar {
  flex: 1;
  background: #00bff0;
  margin-left: 20px;

}

.list-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

app-user {
  margin: 15px;
  flex: 1 180px;
  border: 1px solid #00bff0;
  max-width: 250px;
}

.sidebar button {
  width: 180px;
  height: 50px;
  background: #00bff0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  margin: 20px auto;
  display: block;
}

