.user-avatar {
  margin: 10px auto;
  display: block;
}

.user-name {
  font-size: 0.8em;
  padding: 5px;
  color: #00bff0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.user-role {
  display: block;
  font-size: 0.7em;
  color: #00bff0;
  font-style: oblique;
  text-align: center;
}

.user-about {
  display: block;
  padding: 10px 5px;
  font-size: 0.7em;
  font-weight: bold;
  color: #000;
  font-style: oblique;
  text-align: center;
}

.sidebar button {
  width: 180px;
  height: 50px;
  background: #00bff0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  margin: 20px auto;
  display: block;
}
