body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  height: 100vh;
  color: #b7b7b7;
  background-color: #f3f3f3;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


a:-webkit-any-link {
  text-decoration: none;
}
